
<div class="container">    
    <div class="row">
        <div class="col-12 col-md-4">
            <h4 class="bg-heading">Responsive Web design</h4>
            <p>With the proliferation of smarthpones and other viewing devices with varying
                viewport width, the need for creating webpages that are adaptable has become all 
                the more important.
            </p>
            <p>Follow the direction the web is heading, the latest trends, all the 
                brand new technologies.
            </p>
            <a href="#" class="btn btn-primary">Learn more</a>

        </div>
        <div class="col-12 col-md-8">
            <h4 class="bg-heading">Computer Programming</h4>
            <p>Ever wondered what is going on behind the scene on those 
               computer software and applications that help better our 
               lives?
            </p>
            <p>Under the hood, millions of lines of code run each time we 
              do the following operations: turn on our smartphone, run facebook 
              application on our web browsers, or send a simple gmail.  
            </p>
            <p>Wouldn't you like tom learn more about the awesome stuffs computer
                programmers are capable of?
            </p>
            <a class="btn btn-primary" href="#">Learn more</a>
        </div>
    </div>
<div class="container d-marketing" style="padding-top: 50px; padding-bottom: 50px;">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-8">
            <div class="row">
                <div class="col-12 col-md-4"></div>
                    <img src="images/istockphoto-887358334-612x612.jpg" class="img-respn">
                </div>
                <div class="col-12 col-md-8">
                    <h3><a href="#">Digital Marketing Trend</a></h3>
                    <p>The soul of business</p>
                    <p class="lead">
                    Do yo know that sales via mobile commerce alone in the US
                    is worth more than $700US billion?
                    </p>
                    <p class="lead">Are your marketing team doing enough?</p>
                    <p class="lead">Get the lastest insights and trends on digital marketing<br>
                    But first understand <a href="#">what is digital marketing and how it works.</a>
                    If you are new to the concept.
                   </p>
                </div>
            </div>

        </div>
        <div class="col-md-2"></div>
       <div class="col-12 col-md-6">
            <div class="card">
                <img class="card-img-top" src="images/istockphoto-887358334-612x612.jpg">
            </div>
            <div clas="card-body">
                <h5 class="card-title"></h5>
            </div>
        </div>
    </div>
</div>
<div class="penultimate">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-8">
                <h5>PHILOSOPHY AND MISSION</h4>
                <p class="lead">We are a tech enthusiats and our 
                    core belief is based on the principle
                    of minimalism--achieving astounding creativity with 
                    simple solutons.
                </p>
                <p  class="lead">It is no secret that technology is growing 
                    at a fast pace. We strive to demistify some of the confusion
                    sorrounding some famous buzzwords in the tech industry.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="container"  style="margin-top: 80px;">
    <div class="row">
        <div class="col-12">
            <img src="images/web_technologies.png" style="max-width: 100%;">
        </div>
    </div>
</div>

-->